body#body-home-page{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-areas:
    "header header header header"
    ". nav nav ."
    ". section aside ."
    "footer footer footer footer"
    ;
    grid-template-columns: 1fr 80% 10% 1fr;
    grid-template-rows: 170px 50px auto 100px;
}   

body#body-photos-gallery{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". nav nav ."
    ". section section ."
    "footer footer footer footer"
    ;
    grid-template-columns: 1fr 80% 10% 1fr;
    grid-template-rows: 170px 50px auto 100px;
}

body#body-video-page{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". nav nav ."
    ". section section ."
    "footer footer footer footer"
    ;
    grid-template-columns: 1fr 80% 1fr 1fr;
    grid-template-rows: 170px 50px auto 100px;
}

body#body-maps-page{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". nav nav ."
    ". section section ."
    "footer footer footer footer"
    ;
    grid-template-columns: 1fr 80% 1fr 1fr;
    grid-template-rows: 170px 50px auto 100px;
}

body#body-contacts-page{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". nav nav ."
    ". section aside ."
    "footer footer footer footer"
    ;
    grid-template-columns: 1fr 7fr 2fr 1fr;
    grid-template-rows: 170px 50px auto 100px;
}

.logo{
    height: 180px;
    width: 200px;
    grid-area: logo;
}

header{
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-areas: 
    "logo title"
    ;
    background: url(../../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    grid-area: header;
}

header .title{
    color: white;
    line-height: 100px;
}

nav{
    grid-area: nav;
    background-color: lightgrey;
    border-radius: 15px;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    gap: 5px;
    margin: 0px;
    padding: 0px;

}

nav ul li a{
    display: block;
    text-decoration: none;
    background-color: darkviolet;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
}

nav ul li a:hover{
    background-color: darkblue;
    transform: scale(0.9);
}

section{
    grid-area: section;
    background-color: #eeeeee;
    min-height: 500px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 15px;
}



section p#photo-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

section p#photo-gallery img{
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
}

section p#photo-gallery img:hover{
    transform: scale(0.9) rotate(5deg);
    opacity: 0.7;
}

p#video-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

p#video-gallery iframe{
    width: 100%;
}

aside{
    grid-area: aside;
    background-color: lightskyblue;
    padding-top: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-aside{
    width: 100%;
}   

aside .logo-aside{
 
}

footer{
    grid-area: footer;
    background-color: #202020;
}

footer div{
    color: white;
    text-align: center;
    line-height: 100px;
}

.title{
    grid-area: title;
}

div#card{
    display: grid;
    height: 400px;
    width: 590px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: grey;
    padding: 5px;
}

div#card img{
    width: 200px;
    height: 200px; 
    border: 1px solid black;
    border-radius: 5px;
}

.portret{
    grid-area: portret;
}

.tara{
    grid-area: tara;
}

.strada{
    grid-area: strada;
}

.apartament{
    grid-area: apartament;
}

.num{
    grid-area: num;
}

#contact-form{
    display: grid;
    grid-auto-rows: 30px;
    gap: 5px;
}



input[type=submit]{
    height: 25px;
    background-color: darkblue;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

input[type=submit]:hover{
    opacity: 0.8;
}